* {
    font-family: "Terminus", "Roboto", sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 0;
    color: #ff0000;
}

window#waybar {
    background-color: #000000; /* Semi-transparent */
    color: #ffffff;
    /*border: 1px solid #ff0000;*/
}

/* Individual Module Styling */
#network, #cpu, #memory, #battery, #clock {
    padding: 0 12px;
    /*margin: 4px 2px;  This creates the gap between blocks */
    background-color: #000000;
    /*border-bottom: 1px solid #ff0000;
    border-top: 1px solid #ff0000;*/  
}

#clock.utc {
    background-color: #000000;
    /*border-bottom: 2px solid #ff0000;  Green for UTC */
}

#clock.india {
    background-color: #000000;
    /*border-bottom: 2px solid #ff0000;  Yellow for IST */
}

#battery.critical {
    color: #ff5555;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
